.pokedex-tile {
    margin: 5px;
    padding: 10px;
    border-radius: 8px;
    border: 2px solid #fff;
    width: 96px;
    height: 96px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    user-select: none;
    /* Background gradient set by JavaScript */
}
.pokedex-tile:hover {
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.pokedex-tile__icon {
    width: 48px;
    height: 48px;
    margin-bottom: 5px;
}
