.pokedex-type-details {
    border: white 2px solid;
    border-radius: 50px;
    padding: 5px 10px;
    width: 100px;
    font-weight: bold;
    text-align: center;
    margin-left: 10px;
}

.pokedex-url {
    text-decoration: underline;
    color: dodgerblue;
    cursor: pointer;
    & :hover {
        color: mediumslateblue;
    }
}

.pokedex-stat-bar {
  height: 12px;
  border-radius: 4px;
  margin: 2px 0;
}